<!doctype html>
<html>
<head>
	<title>Chatwala-Reporting Error!</title>
	<style type="text/css">
		div {
			color:white;
		}
	</style>
</head>
<body style='background:gray'>
	<div>
		<h4>There was an error!</h4>
		<p>Status: <%=status%></p>
	</div>
	

</body>
</html>