<!doctype html>
<html>
<head>
	<title>Chatwala-Reporting Inbox Size</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<!-- Init ejs vars -->
<%
	var totalUsers = 0;
%>
<body style='background:white'>
	<table id='mytable'>
		<thead>
			<tr>
				<th># of messages</th>
				<th># of users</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0</td>
				<td><%= totalUsersWithoutInbox %></td>
			</tr>
			<!-- loop through for each count of messages in inbox -->
			<% for(var key in inboxCountData){ %>
				<tr>
					<td><%=key%></td>
					<td><%=inboxCountData[key].length%></td>
				</tr>

			<%
				totalUsers += inboxCountData[key].length

			}
				totalUsers = totalUsers + totalUsersWithoutInbox;
			%>
			<tr>
				<td>Total</td>
				<td><%= totalUsers%></td>
			</tr>
		</tbody>
	</table>
</body>
</html>