<!DOCTYPE html>
<html>
<head>
    <title>Videos</title>
</head>
<body>
    <h4>Videos</h4>

    <form action="/getInbox" method="POST">
        <span>Enter your user Id:</span>
        <input type="text" name="user_id"/>
        <input type="submit" name="Submit" />
    </form>

</body>
</html>